<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    NodeAuth <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Node Auth</a></h1>
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.email %></li>
        <li><a data-testid="tLogoutLink" href="/logout">Log out</a></li>
      <% } else { %>
        <li><a data-testid="tLoginLink" href="/login">Log in</a></li>
        <li><a data-testid="tSignUpLink" href="/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>
  