<%- include('partials/header'); -%>
<header>
    <div class="headings">
        <h2>Dashboard</h2>
        <h4><a href="/">Go to Home</a></h4>
    </div>
</header>

<%- include('partials/footer'); -%>