<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <% if (user) { %>
      <h2>Logged in as <%= user.email %></h2>
      <h4><a href="/Dashboard">Go to Dashboard</a></h4>
    <% } else { %>
      <h2>Basic node auth</h2>
      <h3>Login to view dashboard</h3>
    <% } %>
  </div>
</header>


<%- include('partials/footer'); -%>